<div style="padding:0px 0px 20px 0px;">
  <div class="ui secondary menu" style="padding:0px 0px 0px 10px;background:#f8f8f8;">
    <div class="item">
      <img src="/img/zhongqing.png" style="width:116px;height:26px;margin-right:10px;">
    </div>
    <div class="right item">
      <div class="ui dropdown item">
        <i class="announcement  icon"></i>消息管理
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/messages">升级提示管理</a></div>
        </div>
      </div>
      <div class="ui dropdown item">
        <i class="credit card icon"></i>支付管理
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/payments">充值记录</a></div>
        </div>
      </div>
      <div class="ui dropdown item">
        <i class="bar chart icon"></i>账单统计
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/consumptions">消费明细</a></div>
          <div class="item"><a href="/income_statistics">收入统计</a></div>
          <div class="item"><a href="/third_api_consumptions">对账单</a></div>
          <div class="item"><a href="/custom_consumptions">客户账单</a></div>
        </div>
      </div>
      <div class="ui dropdown item">
        <i class="file code outline icon"></i>API 管理
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/apis">API 列表</a></div>
          <div class="item"><a href="/api_applies">授权管理</a></div>
          <div class="item"><a href="/queries">查询明细</a></div>
        </div>
      </div>
      <div class="ui dropdown item">
        <i class="user outline icon"></i>账号管理
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/admins">管理员账号</a></div>
          <div class="item"><a href="/admin_roles">管理员角色</a></div>
          <div class="item"><a href="/users">客户账号</a></div>
          <!--<div class="item"><a href="/user_roles">客户角色</a></div>-->
          <div class="item"><a href="/user_groups">行业类型</a></div>
          <div class="item"><a href="/trial_account">试用账号申请</a></div>
        </div>
      </div>
      <div class="ui dropdown item">
        <i class="settings icon"></i>设置
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/users/setting">个人设置</a></div>
          <div class="item"><a href="/logout">退出</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
