<div class="ui vertical pointing">
  <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
		<ul id="demo-list">
      <li><a href="javascript:void(0);"><i class="bar chart icon"></i>分析报表 </a>
        <ul class="submenu">
          <li><a href="/inspections/repoInfo">分析报表-综合得分 </a></li>
          <li><a href="/charts/quality_task">分析报表-质检任务 </a></li>
          <li><a href="/report/qa_analysis">分析报表-质检员绩效 </a></li>
          <li><a href="/charts/illegal_proportion">分析报表-违规占比 </a></li>
          <li><a href="/charts/quiet_time">分析报表-静音时长 </a></li>
          <li><a href="/charts/speech_rate">分析报表-平均语速 </a></li>
          <li><a href="/charts/emotion">分析报表-情绪分析 </a></li>
          <li><a href="/charts/call_time">分析报表-来电时间 </a></li>
          <li><a href="/charts/satisfied">分析报表-客户满意度 </a></li>
          <li><a href="/charts/keywords">分析报表-关键词分类 </a></li>
          <li><a href="/charts/hotwords">分析报表-热词云图 </a></li>
        </ul>
      </li>
      <li><a href="javascript:void(0);"><i class="user icon"></i>用户管理 </a>
        <ul class="submenu">
          <!-- <li><a href="/notices">消息通知 </a></li> -->
          <li><a href="/users/groups">客户标签 </a></li>
          <li><a href="/users">用户 </a></li>
          <li><a href="/users/roles">角色 </a></li>
          <!-- <li><a href="javascript:void(0);" onclick="logout()">退出 </a></li> -->
        </ul>
      </li>
    </ul>
  </div>

</div>
